body {
    min-height: 100vh;
}
h1 {
    font-family: "Pattaya";
    font-size: 3rem;
    color: $blue;
}
.home {
    font-family: "Pattaya";
    font-size: 2rem;
    color: $blue;
    padding-top: 0;
    padding-bottom: 0;
}

.nav a {
    color: $indigo;
}

.nav-item {
    padding: 15px;
}

.nav {
    width: 20%;
    padding-top: 30px;
    border-right: solid 1px grey;
    min-height: 100vh;
}
.main {
    width: 80%;
}

.welcome {
    min-height: 100vh;
}
